/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210408/pngtree-white-abstract-vector-web-background-design-image_597636.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  align-items: center;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 32px;
}

/* Main Content Styles */
main {
  padding: 20px;
  
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

pre {
  white-space: pre-wrap;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

ul li a {
  color: #333;
  text-decoration: none;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}

/* Media Queries */
@media (max-width: 768px) {
  header h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }
}
